/* Barra principal */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #3a7d44;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
}

/* #nprogress .spinner {
  display: none !important;
} */
